<template>
  <div class="menu">
    <h1>{{name}}</h1>
    <button @click="updateProfile">Rename</button>
  </div>
</template>
 
<script>
import {mapActions, mapGetters, mapMutations} from 'vuex'

export default {
  computed:{
      ...mapGetters(['name'])
  },
  methods:{
      ...mapMutations(['setName']),
      ...mapActions(['updateProfile'])
  }
}
</script>

<style>

</style>
